@import '../helpers/helpers';

.mail {
  margin: 110px 0;

  @media (max-width: $m) {
    margin: 70px 0;
  }

  @media (max-width: $s) {
    margin: 50px 0;
  }

  .container {
    text-align: center;
  }

  &__logo {
    margin: 0 auto;
    margin-bottom: 40px;

    @media (max-width: $m) {
      margin-bottom: 30px;
    }

    @media (max-width: $s) {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 35px;
    font-size: 24px;
    font-style: italic;
    color: $color-text;

    @media (max-width: $l) {
      font-size: 19px;
    }

    @media (max-width: $m) {
      margin-bottom: 25px;
    }

    @media (max-width: $s) {
      margin-bottom: 35px;
    }
  }

  &__form {
    display: flex;
    align-items: stretch;
    justify-content: center;

    @media (max-width: $xs) {
      flex-direction: column;
    }
  }

  &__input {
    @include anim;

    flex-basis: 400px;
    padding: 0 28px;
    margin-right: 8px;
    font-size: 20px;
    color: $color-title;
    border: 1px solid $color-input-border;

    @media (max-width: $l) {
      font-size: 18px;
    }

    @media (max-width: $xs) {
      flex-basis: auto;
      padding: 15px;
      margin-right: 0;
      margin-bottom: 15px;
      font-size: 16px;
    }

    &:hover {
      background-color: #e1f2f866;
    }

    &::placeholder {
      // font-size: 20px;
      font-style: italic;
      color: $color-input;
    }
  }

  &__btn {
    @include anim;

    padding: 26px 45px;
    font-size: 24px;
    font-weight: 300;
    color: $color-white;
    text-transform: uppercase;
    background-color: $color-secondary;

    &:hover {
      background-color: #40aa82;
    }

    @media (max-width: $l) {
      padding: 17px 45px;
      font-size: 20px;
    }

    @media (max-width: $s) {
      padding: 11px 45px;
    }
  }
}
