@import '../helpers/helpers';

.nav {
  display: flex;
  align-items: center;

  &__col {
    display: flex;
    flex-shrink: 0;

    &--logo {
      @media (max-width: $s) {
        position: absolute;
        top: 70px;
      }
    }

    & + & {
      margin-left: 50px;

      @media (max-width: $s) {
        margin-left: 0;
      }
    }

    @media (max-width: $s) {
      flex-basis: 50%;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  &__item {
    position: relative;
    font-size: 13px;
    font-weight: 700;
    color: $color-nav;
    text-transform: uppercase;

    &::after {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 0;
      height: 1px;
      content: '';
      background-color: #2b2a2c;
      transition: 0.2s;
    }

    &:hover::after {
      width: 100%;
      color: #ff4646;
    }

    @media (max-width: $s) {
      font-size: 25px;
    }
  }

  &__dot {
    margin: 0 35px;
    pointer-events: none;
    transform: translateY(-4px) scale(1.2);
  }

  &__logo-wrapper {
    @media (max-width: $s) {
      position: absolute;
      z-index: 160;
    }
  }

  &__logo {
  }
}
