@import '../helpers/helpers';

.reviews {
  padding-top: 125px;
  padding-bottom: 180px;
  background-color: $color-back-secondary;

  @media (max-width: $s) {
    padding-top: 65px;
    padding-bottom: 110px;
  }

  @media (max-width: $xs) {
    padding-top: 25px;
    padding-bottom: 50px;
  }

  &__item {
    text-align: center;

    &:not(:first-child) {
      display: none;
    }
  }

  &__slider.slick-initialized &__item {
    display: block;
  }

  &__logo {
    margin-bottom: 37px;
    text-align: center;

    @media (max-width: $xs) {
      margin-bottom: 20px;
    }



    img {
      width: 32px;
      height: auto;
      margin: auto;
    }
  }

  &__title {
    margin-bottom: 27px;
    font-size: 18px;
    font-weight: 700;
    color: $color-title;
    letter-spacing: 1.8px;

    @media (max-width: $xs) {
      margin-bottom: 17px;
    }

    span {
      font-weight: 300;
      color: $color-text;
      letter-spacing: 1.8px;
    }

    @media (max-width: $s) {
      font-size: 17px;
    }
  }

  &__text {
    font-size: 24px;
    font-style: italic;
    line-height: 34px;
    color: $color-text;

    @media (max-width: $l) {
      font-size: 19px;
    }

    @media (max-width: $s) {
      font-size: 18px;
    }

    @media (max-width: $xs) {
      font-size: 16px;
    }
  }
}
